Problem 21

In [2]:
A = [1,2,3]

In [3]:
sum(A)

6

In [5]:
sumlist = 0
for i in A:
    sumlist += i
print(sumlist)

6

In [9]:
def sumlist(A):
    sumlist = 0
    for i in A:
        sumlist += i
    return(sumlist)
sumlist1 = sumlist(A)
print(sumlist1)

6

Problem 22

In [31]:
sum1 = str1[0]
for i in range(1, len(str1)):
    sum1 += str1[i]
    print(sum1)

helloworld

In [32]:
def sum1(str1):
    sum1 = str1[0]
    for i in range(1, len(str1)):
        sum1 +=  str1[i]
    return(sum1)
str1 = ["hello", "world"]
sum1(str1)

'helloworld'

Problem 23

In [34]:
def product(A):
    sumlist = 0
    for i in A:
        sumlist += i
    return(sumlist)
product([1, 2, 3])

6

Problem 24

In [40]:
c = 4
d = 1
for i in range(1, c+1):
    d = d * i
print(d)

24

In [112]:
def factorial(c):
    d = 1
    if c >= 0:
        for i in range(1, c+1):
            d = d * i
        print(d)
    else :
        print("error")
factorial(4)

24

Problem 25

In [132]:
x = [1, 2, 3, 4]
y = []
y.append(x[3])
y.append(x[2])
y.append(x[1])
y.append(x[0])
print(y)

[4, 3, 2, 1]

In [134]:
y = x[::-1]
print(y)

[4, 3, 2, 1]

In [128]:
x = [1, 2, 3, 4]
y = []
for i in range(len(x)-1,-1,-1):
    y.append(x[i])
print(y)

[4, 3, 2, 1]

In [153]:
def reverse(d):
    y = []
    for i in range(len(d)-1, -1, -1):
        y.append(d[i])
    return(y)
reverse([1, 2, 3, 4])

[4, 3, 2, 1]

In [154]:
reverse(reverse([1, 2, 3, 4]))

[1, 2, 3, 4]